# {{ ansible_managed }}

auto lo

iface lo inet loopback

iface lo inet static
  address {{ loopback_addresses[0] }}
  netmask 32

auto eth0

iface eth0 inet static
  address {{ ipv4.address }}
  netmask {{ ipv4.netmask }}
  gateway {{ ipv4.gateway }}
  dns-nameservers 8.8.8.8

iface eth0 inet6 static
  address {{ ipv6.address }}
  netmask {{ ipv6.netmask }}
  gateway {{ ipv6.gateway }}
  dns-nameservers 2001:4860:4860::8888

auto br0

iface br0 inet manual
  bridge-ports none
  bridge_fd 0
  bridge_stp off
  bridge_waitport 0
  post-up ifup alfred0
  pre-down ifdown alfred0

iface alfred0 inet manual
  pre-up ip link add alfred0 link br0 type macvlan ; ip link set dev alfred0 mtu 1280
  up ip link set dev alfred0 up
  down ip link set dev alfred0 down
  post-down ip link del alfred0 link br0
{% if gre is defined %}

auto tun0

iface tun0 inet manual
  pre-up ip tunnel add $IFACE mode gre remote {{ gre.tun0.remote }} local {{ ipv4.address }}
  post-down ip tunnel del $IFACE

iface tun0 inet static
  address {{ gre.tun0.ipv4.address }}
  netmask {{ gre.tun0.ipv4.netmask }}

iface tun0 inet6 static
  address {{ gre.tun0.ipv6.address }}
  netmask {{ gre.tun0.ipv6.netmask }}

auto tun1

iface tun1 inet manual
  pre-up ip tunnel add $IFACE mode gre remote {{ gre.tun1.remote }} local {{ ipv4.address }}
  post-down ip tunnel del $IFACE

iface tun1 inet static
  address {{ gre.tun1.ipv4.address }}
  netmask {{ gre.tun1.ipv4.netmask }}

iface tun1 inet6 static
  address {{ gre.tun1.ipv6.address }}
  netmask {{ gre.tun1.ipv6.netmask }}
{% endif %}
